
.aPagar-card{
    background-color: white;
    padding: 10px;
    box-shadow: 2px 3px 1px -2px rgb(0 0 0 / 20%), 2px 2px 7px 0 rgb(0 0 0 / 14%), 0 3px 3px 0 rgb(0 0 0 / 12%);
    font-weight: 700;
    font-size: 20px;
}

.info {
    margin-top: 3%;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
}

button.pagar {
    box-shadow: 0px 1px 3px 0px #00000059;
    background-color: #ffffff;
    border-radius: 33px;
    cursor: pointer;
    color: #000000;
    font-weight: 600;
    font-size: 13px;
    padding: 12px 21px;
    text-decoration: none;
    border: none;
}

 div.info > div {
     display: flex;
     align-items: center;
     gap: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.date-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    padding-top: 10px;
}
