@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.WelcomeHello{
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
}

.logo-Welcome{
    width: 35%;
}

.slogan{
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    margin: 3px;
    padding: 40px 10px;
    text-align: center;
}
.imagenes-categorias{
    display: flex;
    height: 40px;
    justify-content: center;
    width: 43px;
    align-items: center;
    margin: 0 auto;
}
.button-next{
    background: #e748ea;
    background: -webkit-gradient(left bottom,right top,color-stop(0,#e748ea),color-stop(100%,#4b1abc));
    background: linear-gradient(45deg,#e748ea,#4b1abc);
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 35px auto;
    display: flex;
    padding: 15px 75px;
}

.texto-intro{
    font-family: Candara;
    font-size: 20px;
    text-align: center;
}
