*{
    padding: 0;
    margin: 0;
    text-shadow: none;
}
.centered{
    background: rgba(231,72,234,1);
    background: -moz-linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(231,72,234,1)), color-stop(100%, rgba(75,26,188,1)));
    background: -webkit-linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
    background: -o-linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
    background: linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
}
.TextoBienvenida{
    text-align: left;
    font-size: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #FFFFFF;
}

.texto {
    display: flex;
    flex-direction: column;
}

h1.hola {
    font-weight: 600;
    font-size: 26px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}

.Button {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.Button > * {
    font-weight: 600;
}


div.Container > div > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button > span.numbers {
    font-weight: 700;
    font-size: 25px;
}

button.green > span.numbers {
    color: #2C5725;
}
button.red > span.numbers {
    color: #891717;
}

button > span.total {
    font-size: 10px;

}

.red, .green{
    background-color: white;
    height: 100px;
    width: 125px;
    box-shadow: 1px 1px 3px 0 rgb(13 14 13 / 53%);
    border-radius: 12%;
    border: none;
    cursor: pointer;
}


button.red.active{
    background-color: #FE7373;

}

button.red.active:hover {
    background-color: #e66767;

}


button.green.active:hover {
    background-color: #73cc65;

}

button.green.active{
    background-color: #86EE75;

}
.fa-user-astronaut{
    font-size: 40px;
    display: flex;
    justify-content: right;
    padding-inline: inherit;
    color: black;
}
